<h1>This is suggested country for you!</h1>

<%= @country[0][0]["name"] %>
<br>
<% @country[1].each do |review| %>
  <%= review["user_name"] %>
  <br>
  <%= review["rating"] %>
  <br>
  <%= review["content"] %>
  <br>
<% end %>
