<h1><%= @country[0]["name"] %></h1>
<br>

<% @country[1].each do |review| %>
  Traveler: <%= review["user_name"] %>
  <br>
  Rating: <%= review["rating"] %>
  <br>
  Review: <%= review["content"] %>
  <br>
  <br>
<% end %>
